
.vs/SeleniumSample/v16/.suo
SeleniumSample/bin/Debug/net5.0/SeleniumSample.dll
SeleniumSample/bin/Debug/net5.0/SeleniumSample.pdb
SeleniumSample/obj/Debug/net5.0/SeleniumSample.csproj.FileListAbsolute.txt
SeleniumSample/obj/Debug/net5.0/SeleniumSample.csprojAssemblyReference.cache
SeleniumSample/obj/Debug/net5.0/SeleniumSample.dll
SeleniumSample/obj/Debug/net5.0/SeleniumSample.pdb
